---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
   <div>
        <div>
            <h1>amrita.town</h1>
            <p>a webring for Amrita students.</p>
            <p><a href="/random">take me to a random site</a></p>
            <p><a href="/about">learn more about us</a></p>

        </div>
    </div>
</BaseLayout>