---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div>
    <div>
      <h1>amrita.town</h1>
      <p>a webring for Amrita students.</p>
      <p><a href="/random">take me to a random site</a></p>
      <p><a href="/about">learn more about us</a></p>
      <hr />
      <h2>Amrita Town Manifesto</h2>
      <h3>a vision</h3>
      <p>you are not a user. you are not a statistic. you are a person.</p>
      <p>
        a person, with a unique sense of self, and a unique experience worth
        sharing. expressing yourself as you are, and who you could be, is our
        mission.
      </p>
      <p>
        picture this, a place on the internet, with your name on it. this place
        looks exactly the way you want it to look. a place made for other people
        to drop in, and get to know you. a place that truly belongs to you.
      </p>
      <p>
        what if you could truly express yourself as you are, with the power of
        free and open technology that’s only gotten better as the years have
        gone by.
      </p>
      <p>
        imagine a place where you could post about your interests, rant about
        your day, a guestbook for others to drop by and leave notes to you to
        read, blogs about what you’re passionate about, a place to post the
        photos you want others to see, or the books and movies and art that
        inspires you.
      </p>
      <p>a personal website is the answer.</p>
      <p>
        it’s the first step towards claiming ownership of your digital identity.
        if that notion excites you, read on.
      </p>
      <h3 >
        perfect websites are not the goal
      </h3>
      <p>
        it’s trivial to build a website now, myriads of options exist, and
        handcrafting one yourself with pure html/css is also valid.
      </p>
      <p>the point is ownership, not perfection</p>
      <p>
        in fact, imperfection is encouraged if the end result is a true
        expression of humanity and authenticity
      </p>
      <p>
        free yourself of what you think a website <em>should</em> look like and make
        one that speaks to who you are. the only condition is to have a place you’re
        proud of and a place that is truly your own.
      </p>
      <p>
        perfect is for web designers and people working jobs. do you speak
        perfect sentences to your close friends?
      </p>
      <h3>how do i find others?</h3>
      <p>
        amrita town is a webring, a place connecting all of your online homes,
        built up of personal websites made by students of amrita bangalore, each
        website contains a small little widget connecting you to other websites
        in the webring and this website.
      </p>
      <p>
        a collection of websites, loving crafted by their creators to be true
        representations of who they are. that’s what we envision the internet to
        truly be like.
      </p>
      <p>join us in trying to bring back this vision of the internet.</p>
      <p>it’s like a phonebook back when those existed.</p>
      <p>you can go ahead and meet us irl if you want to.</p>
    </di>
    <hr />
    <h1> Members </h1>
  </div>
</BaseLayout>
